
<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        font-family: sans-serif;
        width: 100%;
        height: 100vh;
        overflow-x: hidden;
    }

    ul,
    li {
        list-style-type: none;
        padding: 0;
    }

    .side-bar {
        width: 200px;
        height: 100vh;
        background-color: #fff;
        box-shadow: 0 0 8px rgb(230,230,230);
        overflow: hidden;
        overflow-y: auto;
        position: fixed;
        padding: 11px;
    }

        .side-bar .logo {
            text-align: center;
            margin-bottom: 50px;
        }

            .side-bar .logo a h1 {
                font-size: 40px;
                color: #a09494;
                font-family: "Righteous";
            }

            .side-bar .logo a:last-child {
                display: none;
            }

        .side-bar .side-bar-nav ul li a {
            display: flex;
            align-items: center;
            padding: 15px 10px;
            width: 100%;
            margin: 10px 0;
            transition: .4s;
        }

            .side-bar .side-bar-nav ul li a:hover {
                background-color: #B576F6;
                color: #fff;
            }

            .side-bar .side-bar-nav ul li a .nav-link {
                margin-left: 15px;
            }

    header {
        margin-left: 250px;
        padding: 15px;
    }
</style>


<body>
    <div class="side-bar">
        <div class="logo">
            <a href="#">Teach-Space</a>
            <a href="#"><img src="~/fonts/img/logo.jpg"></a>
        </div>
        <div id="tabstrip">
            <ul>
                <li id="tab1">Event</li>

            </ul>
        </div>

        <div>
            <div class="side-bar-nav">
                <ul>
                    <li>
                        <a href="#">
                            <span class="nav-link">Dashboard</span>
                            <span><i class="fas fa-home"></i></span>

                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="nav-link">Events</span>
                            <span><i class="fas fa-uikit"></i></span>

                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="nav-link">My Courses</span>
                            <span><i class="fas fa-table"></i></span>

                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="nav-link">About Teach-Space</span>
                            <span><i class="fas fa-wp-forms"></i></span>

                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="nav-link">LogOut</span>
                            <span><i class="fas fa-home"></i></span>

                        </a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
    <header>

        @(Html.Kendo().Grid<Teach_Space.Models.sp_GetSchedule_Result>
            ()
            .Name("grid")
            .Columns(columns =>
            {
                columns.Bound(p => p.ID).Width(120);
                columns.Bound(p => p.FullName).Width(120);
                columns.Bound(p => p.Topic).Width(120);
                columns.Bound(p => p.Date).Width(120);
                columns.Bound(p => p.Time).Width(120);
                columns.Bound(p => p.MODE).Width(120);
                //columns.Command(command => { command.Edit(); command.Destroy(); }).Width(250);
            })
            //.ToolBar(toolbar => toolbar.Create())
            //.Editable(editable => editable.Mode(GridEditMode.PopUp))
            .Pageable()
            .Sortable()
            .Scrollable()
            .HtmlAttributes(new { style = "height:550px;" })
            .DataSource(dataSource => dataSource
            .Ajax()
            .PageSize(20)
            //.Events(events => events.Error("error_handler"))
            .Model(model => model.Id(p => p.ID))
            //.Create(update => update.Action("EditingPopup_Create", "Grid"))
            .Read(read => read.Action("GetSchedule", "Home"))
            //.Update(update => update.Action("EditingPopup_Update", "Grid"))
            //.Destroy(update => update.Action("EditingPopup_Destroy", "Grid"))
            )
            )
        <script>
            $("#tabstrip").kendoTabStrip().data("kendoTabStrip")
        </script>
    </header>

</body>



@*<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image" href="images/logo 2.jpg">
        <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Poppins:wght@100&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
        <link href="~/Content/style.css" rel="stylesheet" />

        <title>TeachBackSession</title>
    </head>
    <body>
        <section id="altera">
            <div class="banner">
                <div class="banner-navbar">
                    <img src="~/Images/logo 2.jpg" style="width:50px; height:50px;" class="logo">
                    <ul>
                        <li><a href="#" target="_blank">Home</a></li>
                        <li><a href="teachback.html" target="_blank">TeachSpace</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="about.html" target="_blank">Logout</a></li>
                    </ul>
                </div>
                <div class="content">
                    <h1>Teach Space session</h1>
                    <p>Explore our knowledge and deliver the<br> best performance with our team</p>
                    <div>
                        <button type="button"><span></span>Join Now</button>
                        <button type="button"><span></span>Enroll Now</button>
                    </div>
                </div>
            </div>
        </section>*@
