<!-- Created By CodingLab - www.codinglabweb.com -->


<meta charset="UTF-8">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
<!---<title> Responsive Registration Form | CodingLab </title>--->
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Poppins',sans-serif;
    }

    body {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        padding-top: 100px;
        margin-left: 30%;
        background: linear-gradient(135deg, #71b7e6, #9b59b6);
    }

    .container1 {
        margin-top:50px;
        max-width: 370px;
        width: 100%;
        background-color: #fff;
        padding: 25px 25px;
        border-radius: 5px;
        box-shadow: 0 5px 10px rgba(0,0,0,0.15);
    }

        .container1 .title {
            font-size: 25px;
            font-weight: 500;
            position: relative;
        }

            .container1 .title::before {
                content: "";
                position: absolute;
                left: 0;
                bottom: 0;
                height: 3px;
                width: 30px;
                border-radius: 5px;
                background: linear-gradient(135deg, #71b7e6, #9b59b6);
            }

    .content form .user-details {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 20px 0 12px 0;
    }

    form .user-details .input-box {
        margin-bottom: 15px;
        width: calc(100% / 2 - 20px);
    }

    form .input-box span.details {
        display: block;
        font-weight: 500;
        margin-bottom: 5px;
    }

    .user-details .input-box input {
        height: 45px;
        width: 100%;
        outline: none;
        font-size: 16px;
        border-radius: 5px;
        padding-left: 15px;
        border: 1px solid #ccc;
        border-bottom-width: 2px;
        transition: all 0.3s ease;
    }

        .user-details .input-box input:focus,
        .user-details .input-box input:valid {
            border-color: #9b59b6;
        }

    form .gender-details .gender-title {
        font-size: 20px;
        font-weight: 500;
    }

    form .category {
        display: flex;
        width: 80%;
        margin: 14px 0;
        justify-content: space-between;
    }

        form .category label {
            display: flex;
            align-items: center;
            cursor: pointer;
        }

            form .category label .dot {
                height: 18px;
                width: 18px;
                border-radius: 50%;
                margin-right: 10px;
                background: #d9d9d9;
                border: 5px solid transparent;
                transition: all 0.3s ease;
            }

    #dot-1:checked ~ .category label .one,
    #dot-2:checked ~ .category label .two {
        background: #9b59b6;
        border-color: #d9d9d9;
    }

    form input[type="radio"] {
        display: none;
    }

    form .button {
        height: 45px;
        margin: 5px 0
    }

        form .button input {
            height: 100%;
            width: 100%;
            border-radius: 5px;
            border: none;
            color: #fff;
            font-size: 18px;
            font-weight: 500;
            letter-spacing: 1px;
            cursor: pointer;
            transition: all 0.3s ease;
            background: linear-gradient(135deg, #71b7e6, #9b59b6);
        }

            form .button input:hover {
                /* transform: scale(0.99); */
                background: linear-gradient(-135deg, #71b7e6, #9b59b6);
            }

    /*media(max-width: 300px) {
        .container1

    {
        max-width: 100%;
    }*/

    form .user-details .input-box {
        margin-bottom: 15px;
        width: 100%;
    }

    form .category {
        width: 100%;
    }

    .content form .user-details {
        max-height: 300px;
        overflow-y: scroll;
    }

    .user-details::-webkit-scrollbar {
        width: 5px;
    }



    /*media(max-width: 100px) {
        .container1 .content .category
    {
        flex-direction: column;
    }
    }*/
</style>



<div class="container1">
    <div class="title">Registration Form</div>
    <div class="content">
        <form action="#">
            <div class="user-details">
                <div class="input-box">
                    <span class="details">Full Name</span>
                    <input id="txtfullName" type="text" placeholder="Enter your name" required>
                </div>
                <div class="input-box">
                    <span class="details">Email</span>
                    <input id="txtEmail" type="text" placeholder="Enter your email" required>
                </div>
                <div class="input-box">
                    <span class="details">Address</span>
                    <input id="txtAddress" type="text" placeholder="Enter your Address" required>
                </div>
                <div class="input-box">
                    <span class="details">Password</span>
                    <input id="txtPassword" type="password" minlength="3" placeholder="Enter your Password" required>
                </div>
                <div class="input-box">
                    <span class="details">Confirm Password</span>
                    <input id="txtConfirmPassword" type="password" minlength="3" placeholder="Enter Confirm Password" required>
                </div>
                <div class="input-box">
                    <span class="details">DOB</span>
                    <input id="txtdob" type="date" placeholder="DOB" required>
                </div>
                <!--<div class="input-box">
                    <span class="details">UserType</span>
                    <select id="ddlUserType" class="custom-select">
                        <option id="0">Select User Type</option>
                        <option id="Student">Student</option>
                        <option id="Intern">Intern</option>
                        <option id="Co-Ordinator">Co-Ordinator</option>
                        <option id="Invigilator">Invigilator</option>
                    </select>-->
                    @*<input type="text" placeholder="Enter your User Type" required>*@
                <!--</div>-->
                @*<div class="input-box">
            <span class="details">Designation ID</span>
            <select id="ddlDesignation" class="custom-select">
                <option>Select User Type</option>
            </select>
            <input  type="text" placeholder="Enter your Designation" required>
        </div>*@

            </div>
            @*<div class="gender-details">
                    <input  type="radio" name="gender" id="dot-1">
                    <input  type="radio" name="gender" id="dot-2">
                    <span class="gender-title">Gender</span>
                    <div class="category">
                        <label  for="dot-1">
                            <span class="dot one"></span>
                            <span class="gender">Male</span>
                        </label>
                        <label id="maleGender" for="dot-2">
                            <span class="dot two"></span>
                            <span class="gender">Female</span>
                        </label>
                    </div>
                </div>*@
            <div class="button" id="btn-register">
                <input type="submit" value="Register">

            </div>

            <p class="para-2">
                Already have an account?
                <div class="button1" id="#btn-Login">
                    <input type="submit" value="Login">

                </div>
            </p>
        </form>
    </div>

</div>



@*<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.1.4.min.js"></script>*@

<script>
    jQuery(document).ready(function ($) {
        $('#btn-register').click(function () {
            $.ajax({
                url: '/api/Account/Register',
                method:'POST',
                data: {
                    email: $('#txtEmail').val(),
                    fullName: $('#txtfullName').val(),
                    address: $('#txtAddress').val(),
                    dob: $('#txtdob').val(),
                    password: $('#txtPassword').val(),
                    confirmpassword: $('#txtConfirmPassword').val()
                },
                success: function () {
                    $.ajax({
                        url: 'https://localhost:44320/api/Account/Login',
                        method: 'POST',
                        data: {
                            email: $('#txtEmail').val(),
                            password: $('#txtPassword').val(),
                        },
                        success: function (res) {
                            alert ('Registration Sucess')
                            window.location.href = res.RedirectUrl;
                        },

                        error: function () {
                            alert('Registration failed.');
                        }
                    });
                },

                error: function () {
                    alert('Registration failed.');
                }
            });
        });
    });
        function Login() {
            window.location.href = "/home/Login";
        }




</script>





