
@{
    ViewBag.Title = "Login";
}
<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Poppins',sans-serif;
    }

    body {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px;
        padding-top: 5px;
        margin-left: 0%;
        background: linear-gradient(135deg, #71b7e6, #9b59b6);
    }

    .container1 {
        max-width: 700px;
        width: 100%;
        background-color: #fff;
        padding: 25px 25px;
        border-radius: 5px;
        box-shadow: 0 5px 10px rgba(0,0,0,0.15);
    }

        .container1 .title {
            font-size: 25px;
            font-weight: 500;
            position: relative;
        }

            .container1 .title::before {
                content: "";
                position: absolute;
                left: 0;
                bottom: 0;
                height: 3px;
                width: 30px;
                border-radius: 5px;
                background: linear-gradient(135deg, #71b7e6, #9b59b6);
            }

    .content form .user-details {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 20px 0 12px 0;
    }

    .container1 {
        max-width: 700px;
        width: 100%;
        background-color: #fff;
        padding: 25px 25px;
        border-radius: 5px;
        box-shadow: 0 5px 10px rgba(0,0,0,0.15);
    }

        .container1 .title {
            font-size: 25px;
            font-weight: 500;
            position: relative;
        }

            .container1 .title::before {
                content: "";
                position: absolute;
                left: 0;
                bottom: 0;
                height: 3px;
                width: 30px;
                border-radius: 5px;
                background: linear-gradient(135deg, #71b7e6, #9b59b6);
            }

    .content form .user-details {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 20px 0 12px 0;
    }

    form .user-details .input-box {
        margin-bottom: 10px;
        width: 100%;
    }
    form .user-details .input-box {
        margin-bottom: 15px;
        width: calc(90% );
    }

    form .input-box span.details {
        display: block;
        font-weight: 500;
        margin-bottom: 5px;
    }

    .user-details .input-box input {
        height: 45px;
        width: 100%;
        outline: none;
        font-size: 16px;
        border-radius: 5px;
        padding-left: 15px;
        border: 1px solid #ccc;
        border-bottom-width: 2px;
        transition: all 0.3s ease;
    }

        .user-details .input-box input:focus,
        .user-details .input-box input:valid {
            border-color: #9b59b6;
        }


    form .category {
        width: 100%;
    }

    .content form .user-details {
        max-height: 300px;
        overflow-y: scroll;
    }

    .user-details::-webkit-scrollbar {
        width: 5px;
    }

    form .button {
        
        width: 95px;
        height: 45px;
        margin: 10px 40px 0px 90px;
    }

        form .button input {
            height: 100%;
            width: 100%;
            border-radius: 5px;
            border: none;
            color: #fff;
            font-size: 18px;
            font-weight: 500;
            letter-spacing: 1px;
            cursor: pointer;
            transition: all 0.3s ease;
            background: linear-gradient(135deg, #71b7e6, #9b59b6);
        }

            form .button input:hover {
                /* transform: scale(0.99); */
                background: linear-gradient(-135deg, #71b7e6, #9b59b6);
            }

    .login-box {
        width: 360px;
        height: 350px;
        margin: auto;
        background-color: #fff;
        padding: 15px 20px;
        border-radius: 5px;
        box-shadow: 0 5px 10px rgba(0,0,0,0.15);
    }
</style>

@*<h2>Login</h2>*@

<div class="login-box">
    <h1>Login</h1>
    <div class="content">
        <form action="#">
            <div class="user-details">

                <div class="input-box">
                    <span class="details">Email</span>
                    <input type="text" id="txtEmail" placeholder="mail id" required>
                </div>
                <div class="input-box">
                    <span class="details">Password</span>
                    <input type="password" minlength="3" id="txtPassword" placeholder="Password" required>
                </div>
                <div class="button" id="btn-Login">
                    <input type="submit" value="Login">
                </div>
                <div class="button" id="btn-Login">
                    @*Signup here..*@
                    @Html.ActionLink("Signup here", "Index", "Home", new { area = "" }, null)
                </div>
            </div>
            @*<p class="para-2">
            Do Not have an account?
            <div class="button1" id="btn-register">
                <input type="submit" value="Register">
                @Html.ActionLink("Register", "Register", "Account", new { area = "" }, null)
            </div>
        </p>*@
           

        </form>

    </div>

</div>
    @*<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.1.4.min.js"></script>*@
    <script>
        jQuery(document).ready(function ($) {

        })

        /*function Login() {*/
        $('#btn-Login').click(function () {


            $.ajax({
                url: '/api/Account/Login',
                method: 'POST',
                data: {
                    email: $('#txtEmail').val(),
                    password: $('#txtPassword').val(),
                },
                success: function (res) {
                    window.location.href = res.RedirectUrl;
                },

                error: function (result) {
                    alert('Login failed.');
                }
            });
        });
        //function Registration() {
        //    window.location.href = "/home/Index";
        //}
    </script>


